<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#role-tab" aria-controls="home" role="tab" data-toggle="tab">Roles</a></li>
    <li role="presentation"><a href="#details-tab" aria-controls="profile" role="tab" data-toggle="tab">Details</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
    <div role="tabpanel" class="tab-pane active row" id="role-tab">
        <div class="col-xs-12" style="padding-top: 15px;">
            {{#combinedRoles}}
                <button
                    class="role-toggle btn btn-{{#if assigned}}success{{else}}danger{{/if}} btn-xs"
                    data-role-id="{{id}}"
                    data-assigned="{{assigned}}"
                >
                    {{name}}
                </button>
            {{/combinedRoles}}
        </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="details-tab">User details go here</div>
</div>
