<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#permission-tab" aria-controls="home" role="tab" data-toggle="tab">Permissions</a></li>
    <li role="presentation"><a href="#user-tab" aria-controls="profile" role="tab" data-toggle="tab">Users</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
    <div role="tabpanel" class="tab-pane active row" id="permission-tab">
        <div class="col-xs-12" style="padding-top: 15px;">
            {{#combinedPermissions}}
                <button
                    class="permission-toggle btn btn-{{#if assigned}}success{{else}}danger{{/if}} btn-xs"
                    data-permission-id="{{id}}"
                    data-assigned="{{assigned}}"
                >
                    {{name}}
                </button>
            {{/combinedPermissions}}
        </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="user-tab">Users go here</div>
</div>
