<div class="col-xs-12 col-sm-6 col-sm-offset-3">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                <i class="fa fa-sitemap"></i>
                Roles
            </h3>
            <form id="new-role-form" method="post" data-url="role">
                <div class="input-group">
                    <input class="form-control" name="name" placeholder="New role name"/>
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-default">
                            <i class="fa fa-plus"></i>
                        </button>
                    </span>
                </div>
            </form>
        </div>
        <ul class="list-group">
            {{#roles}}
                <li class="list-group-item">
                    <div class="row">
                        <div class="role-list-item col-xs-11" data-id="{{id}}" data-name="{{name}}" data-open="false">
                            {{name}}
                        </div>
                        <div class="col-xs-1 text-right">
                            <button class="role-delete-btn btn btn-danger btn-xs" data-id="{{id}}"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                    <div id="role-spinner-{{id}}" style="display: none;">
                        <h3 class="text-center">
                            <i class="fa fa-spinner fa-pulse"></i> Loading...
                        </h3>
                    </div>
                    <div id="role-details-{{id}}" style="display: none;"></div>
                </li>
            {{/roles}}
        </ul>
    </div>
</div>