<div class="col-xs-12 col-sm-6 col-sm-offset-3">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                <i class="fa fa-key"></i>
                Permissions
            </h3>
            <form id="new-permission-form" method="post" data-url="permission">
                <div class="input-group">
                    <input class="form-control" name="name" placeholder="New permission name"/>
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-default">
                            <i class="fa fa-plus"></i>
                        </button>
                    </span>
                </div>
            </form>
        </div>
        <ul class="list-group">
            {{#permissions}}
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-11">
                            {{name}}
                        </div>
                        <div class="col-xs-1 text-right">
                            <button class="permission-delete-btn btn btn-danger btn-xs" data-id="{{id}}"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                </li>
            {{/permissions}}
        </ul>
    </div>
</div>
